<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace ms=Mcplamen\Monthlyschedule\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
	
	<div class="row">
		<!-- Форма за нов ден (вляво) -->
		<div class="col-lg-6 col-md-12 col-12">
			<h1>New Myday</h1>

			<f:flashMessages />

			<f:render partial="FormErrors" />

			<f:form action="create" name="newMyday" object="{newMyday}" pluginName="Monthlyschedule">
				<f:if condition="{newMyday.mymonth}">
					<p><strong>Adding day to month:</strong> {newMyday.mymonth.mymonth}</p>
					<f:form.hidden property="mymonth" value="{newMyday.mymonth.uid}" />
				</f:if>
				
				<f:render partial="Myday/FormFields" />
				<f:form.submit value="Create new" />
			</f:form>
		</div>
		
		<!-- Съществуващи дни за месеца (вдясно) -->
		<div class="col-lg-6 col-md-12 col-12">
			<h3>Съществуващи дни за месеца</h3>
						    <!-- DEBUG -->
    <div style="background: yellow; padding: 10px; margin: 10px;">
        <strong>DEBUG mydays:</strong><br>
        Count: {mydays -> f:count()}<br>
        <f:debug>{mydays}</f:debug>
    </div>
	<!-- debug start (премахни след като видиш резултатите) -->

			
			<f:if condition="{mydays -> f:count()} > 0">
				<f:then>
					<div class="table-responsive">
						<table class="tx_monthlyschedule table table-striped">
							<thead>
								<tr>
								    <th>Weekday</th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.dayname" /></th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.timeslot" /></th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.confirm" /></th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.person" /></th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.email" /></th>
									<th><f:translate key="tx_monthlyschedule_domain_model_myday.topic" /></th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{mydays}" as="myday">
									<tr>  
									    <td>
										
										<f:format.date format="l">{myday.mymonth.year}-{myday.mymonth.month}-{myday.dayname}</f:format.date>


											
										</td>
										<td><f:link.action action="show" arguments="{myday : myday}">{myday.dayname}</f:link.action></td>
										<td>{myday.timeslot}</td>
										<td>
											<f:if condition="{myday.confirm}">
												<span class="badge badge-success">✓</span>
											</f:if>
										</td>
										<td>{myday.person}</td>
										<td>{myday.email}</td>
										<td>{myday.topic}</td>
										<td>
											<f:link.action action="edit" arguments="{myday : myday}" class="btn btn-sm btn-warning">Edit</f:link.action>
											<f:link.action action="delete" arguments="{myday : myday}" class="btn btn-sm btn-danger">Delete</f:link.action>
										</td>
									</tr>
								</f:for>
							</tbody>
						</table>
					</div>
				</f:then>
				<f:else>
					<p class="alert alert-info">Все още няма създадени дни за този месец.</p>
				</f:else>
			</f:if>
			
			
		</div>
	</div>
	
</f:section>
</html>