<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace ms=Mcplamen\Monthlyschedule\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <h1 style="color: red;">NEW.HTML TEMPLATE IS LOADED - DEBUG</h1>
    <p>mymonth = {mymonth}</p>
    <p>monthNumber = {monthNumber}</p>
    <p>year = {year}</p>
    <p>mymonthObject exists = <f:if condition="{mymonthObject}">YES</f:if></p>
    <p>mydays count = <f:count>{mydays}</f:count></p>
	
	<div class="row">
		<!-- Форма за нов ден (вляво) -->
		<div class="col-lg-6 col-md-12 col-12">
			<h1>New Myday</h1>

			<f:flashMessages />

			<f:render partial="FormErrors" />

			<f:form action="create" name="newMyday" object="{newMyday}" pluginName="Monthlyschedule">
				<f:if condition="{newMyday.mymonth}">
					<p><strong>Adding day to month:</strong> {newMyday.mymonth.mymonth}</p>
					<f:form.hidden property="mymonth" value="{newMyday.mymonth.uid}" />
				</f:if>
				
				<f:render partial="Myday/FormFields" />
				<f:form.submit value="Create new" />
			</f:form>
		</div>
		
		<!-- Съществуващи дни за месеца (вдясно) -->
		<div class="col-lg-6 col-md-12 col-12">
			<h3>Existing days for this month ({mydays -> f:count()})</h3>
			
			<f:if condition="{mydays -> f:count()} > 0">
				<f:then>
					<div class="table-responsive">
						<table class="tx_monthlyschedule table table-striped">
							<thead>
								<tr>
									<th>WeekDay</th>
									<th>Day</th>
									<th>Timeslot</th>
									<th>Person</th>
									<th>Email</th>
									<th>Topic</th>
									<th>Confirm</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{mydays}" as="myday">
									<tr>
										<td>
														<ms:germanDay 
										day="{myday.dayname}" 
										month="{mymonthObject.month}" 
										year="{mymonthObject.year}" />
										</td>
										<td>
											<f:link.action action="show" arguments="{myday : myday}">
												<strong>{myday.dayname}</strong>
											</f:link.action>
										</td>
										<td>{myday.timeslot} - {myday.timeslotend}</td>
										<td>{myday.person}</td>
										<td>{myday.email}</td>
										<td>{myday.topic}</td>
										<td>
											<f:if condition="{myday.confirm}">
												<span class="badge badge-success">✓</span>
											</f:if>
										</td>
										<td>
											<f:link.action action="edit" arguments="{myday : myday}" class="btn btn-sm btn-warning">Edit</f:link.action>
											<f:link.action action="delete" arguments="{myday : myday}" class="btn btn-sm btn-danger">Delete</f:link.action>
										</td>
									</tr>
								</f:for>
							</tbody>
						</table>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						No days created for this month yet.
					</div>
				</f:else>
			</f:if>
			
			
		</div>
	</div>
	
</f:section>
</html>