<div class="action-bar">
    <f:link.action action="index" controller="Myday" class="btn">
        📅 MyDay – Index
    </f:link.action>

    <f:link.action action="list" controller="Myday" class="btn">
        📄 MyDay – List
    </f:link.action>

    <f:link.action action="new" controller="Myday" class="btn">
        ➕ MyDay – New
    </f:link.action>

    <f:link.action action="index" controller="Mymonth" class="btn">
        🗓 MyMonth – Index
    </f:link.action>

    <f:link.action action="list" controller="Mymonth" class="btn">
        📄 MyMonth – List
    </f:link.action>

    <f:link.action action="new" controller="Mymonth" class="btn">
        ➕ MyMonth – New
    </f:link.action>
</div>
