<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="dayname">
	<f:translate key="tx_monthlyschedule_domain_model_myday.dayname" />
</label><br />
	<f:form.textfield property="dayname" id="dayname" /><br />
<label for="timeslot">
	<f:translate key="tx_monthlyschedule_domain_model_myday.timeslot" />
</label><br />
	<f:form.textfield property="timeslot" id="timeslot" /><br />
<label for="confirm">
	<f:translate key="tx_monthlyschedule_domain_model_myday.confirm" />
</label><br />
	<f:form.checkbox property="confirm" id="confirm" value="1" /><br />
<label for="person">
	<f:translate key="tx_monthlyschedule_domain_model_myday.person" />
</label><br />
	<f:form.textfield property="person" id="person" /><br />
<label for="email">
	<f:translate key="tx_monthlyschedule_domain_model_myday.email" />
</label><br />
	<f:form.textfield property="email" id="email" /><br />
<label for="topic">
	<f:translate key="tx_monthlyschedule_domain_model_myday.topic" />
</label><br />
	<f:form.textfield property="topic" id="topic" /><br />
</html>