<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-monthlyschedule">
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.dayname" /></td>
		<td>{myday.dayname}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.timeslot" /></td>
		<td>{myday.timeslot}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.confirm" /></td>
		<td>{myday.confirm}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.person" /></td>
		<td>{myday.person}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.email" /></td>
		<td>{myday.email}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_monthlyschedule_domain_model_myday.topic" /></td>
		<td>{myday.topic}</td>
	</tr>
</table>
</html>
