<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
	
	   <h1>Admin panel page</h1>


    <f:if condition="{isAdmin}">
        <f:else>
            <div style="background: #ffcc00; color: #000; padding: 15px; border: 3px solid #cc9900; border-radius: 6px; font-size: 18px; font-weight: bold; margin-bottom: 25px; text-align: center; box-shadow: 0 0 12px rgba(0,0,0,0.25);">
                ⚠️ Achtung! Sie sind nicht eingeloggt, um die Funktionen des Programms zu nutzen.
            </div>
        </f:else>
    </f:if>





	<div class="row">
	<div class="col-lg-6 col-md-12 col-12">
	<div class="monthclass"><f:link.action action="new">New Mymonth</f:link.action> </div>
	    <table class="tx_monthlyschedule">
        <tr>
            <th><f:translate key="tx_monthlyschedule_domain_model_mymonth.month" /></th>
            <th><f:translate key="tx_monthlyschedule_domain_model_mymonth.year" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{mymonths}" as="mymonth">
            <tr>
                <td><f:link.action action="show" arguments="{mymonth : mymonth}">{mymonth.month}</f:link.action></td>
                <td><f:link.action action="show" arguments="{mymonth : mymonth}">{mymonth.year}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{mymonth : mymonth}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{mymonth : mymonth}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>
	
	</div>
	<div class="col-lg-6 col-md-12 col-12">
		    <table class="tx_monthlyschedule">
					<tr>
						<th><f:translate key="tx_monthlyschedule_domain_model_mymonth.month" /></th>
						<th><f:translate key="tx_monthlyschedule_domain_model_mymonth.year" /></th>
						<th></th>
						<th></th>
					</tr>
					<f:for each="{mymonths}" as="mymonth">
						<tr>
							<td><f:link.action action="show" arguments="{mymonth : mymonth}">{mymonth.month}</f:link.action></td>
							<td><f:link.action action="show" arguments="{mymonth : mymonth}">{mymonth.year}</f:link.action></td>
							<td><f:link.action action="edit" arguments="{mymonth : mymonth}">Edit</f:link.action></td>
							<td><f:link.action action="delete" arguments="{mymonth : mymonth}">Delete</f:link.action></td>
							<td>
			
<f:link.action
    action="new"
    controller="Myday"
    arguments="{
        mymonth: mymonth.uid,
        monthNumber: mymonth.month,
        year: mymonth.year
    }">
    SUPERЯ New days for the month
</f:link.action>


			</td>
							

						</tr>
					</f:for>
			</table>
	</div>
	</div>
	
	
</f:section>
</html>

